<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>comment page</h1>
    <ul>
        <% for(let comment of comments){ %>
            <li>
                <p class="username">
                    <%= comment.name %>
                </p>
                <p>
                    <%= comment.comment %>
                </p>
                <a href="/comment/<%=comment.id%>">Show</a>
                <a href="/comment/<%=comment.id%>/edit">Edit</a>

                <form action="/comment/<%= comment.id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>


            </li>
            <% } %>
    </ul>
</body>

</html>